pandas
numpy<2
scikit-learn
matplotlib
tqdm
joblib
datasets
sentence-transformers
faiss-gpu==1.7.2
rank-bm25
transformers
accelerate
evaluate
huggingface-hub
protobuf
datasets
scipy
langchain
langgraph
pydantic>=2
streamlit
watchdog
python-dotenv
spacy==3.7.5
thinc==8.2.3